/* * {
    background-color: pink;
} */

body {
    background-color: #fefae0;
}

button {
    font-size: larger;
    background-color: #ffafcc;
}

h1,
h2 {
    color: #bde0fe;
}

#signUp {
    background-color: #a2d2ff;
}

.spans {
    color: #219ebc;
}

input+button {
    background-color: pink;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: lightblue;
}

input[type="password"] {
    color: green;
}

a[href*="google"] {
    color: darkgoldenrod;
}

button:hover {
    background-color: darkred;
    color: white;
}

.post button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: orange;
}

h2::first-letter {
    color: grey;
    text-decoration: underline;
    font-size: 40px;
}