/* h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
} */
span {
    background-color: violet;
    border: 1px solid black;

}