body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    flex-basis: 600px;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 3;
}

div:nth-of-type(2) {
    flex-grow: 2;
}

/* div:nth-of-type(3) {
    align-self: flex-end;
}

div:nth-of-type(2) {
    align-self: center;
} */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: plum;
    border: 2px solid white;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: green;
    flex: 2 1 800px;
}