.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: background-color 1s 1s, border-radius 3s;
}

.circle:hover {
    background-color: aqua;
    border-radius: 50%;
}

section div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div {
    margin-left: 500px;
}

div:nth-of-type(1) {
    transition-timing-function: ease-in;
}

div:nth-of-type(2) {
    transition-timing-function: ease-out;
}

div:nth-of-type(1) {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

div:nth-of-type(1) {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}